@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

#heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  background-color: deepskyblue;
  box-shadow: 0 3px 10px 3px lightgray;
}

#heading h1 {
  margin-bottom: 10px;
  color: whitesmoke;
  font-size: 36px;
}

#heading #section-search {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

#heading #section-search #search-input {
  padding: 5px 10px;
  border: 1px solid black;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  background-color: whitesmoke;
  font-size: 24px;
  cursor: pointer;
}

#heading #section-search #search-btn {
  padding: 5px 10px;
  border: 1px solid black;
  border-left: none;
  border-radius: 0 5px 5px 0;
  outline: none;
  background-color: skyblue;
  font-size: 24px;
}

#heading #section-search #search-btn:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

#heading #section-result {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  width: 50%;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 20px;
  color: black;
  border: 1px dashed whitesmoke;
  border-radius: 5px;
}

#heading #section-result #result-icon {
  position: absolute;
  top: 0;
  right: 10px;
  width: 150px;
  height: 150px;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

div#google-map {
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  padding: 10px;
  cursor: default;
}
