@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Acme";
  src: url("./assets/fonts/Acme-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  cursor: default;
}

body {
  width: 100vw;
  height: 100vh;
  letter-spacing: 0.125rem;
  font-family: "Acme", sans-serif;
  transition: background 0.5s;
  overflow: hidden;
}