@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Acme";
  src: url("./assets/fonts/Acme-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  cursor: default;
}

body {
  width: 100vw;
  height: 100vh;
  letter-spacing: 0.125rem;
  font-family: "Acme", sans-serif;
  overflow: hidden;
  transition: background 0.5s;
}



/* 


div#google-map {
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  padding: 10px;
  cursor: default;
} 

*/
